@import url("../../Global/global.css");
@import url("../Responsive/Client/favorite-responsive.css");


body, html{
  overflow-x: hidden;
  margin: 0;
  
}


.client-login {
  display: flex;
  gap: 10px;
}

.main-logo {
  width: 56px;
  height: 56px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 56px;
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin-top: 8px;
  padding-top: 40px;
  backdrop-filter: blur(24px);
  gap: 64px;
}

.logo_links {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 12px;
}

.logos {
  filter: brightness(1.8);
  scroll-behavior: smooth;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  color: #1d1d1d;
  transform: scale(1.2); 
  filter: brightness(2); 
  z-index: 20; 
}

.icon-img {
  filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(696%)
  hue-rotate(160deg) brightness(101%) contrast(102%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon:hover .icon-img {
  transform: scale(1.2); 
  filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(696%)
  hue-rotate(160deg) brightness(101%) contrast(102%);
}

.section-container {
  color: white;
  margin-bottom: 188px;
  margin-left: 56px;
}

.section-header {
  display: flex;
  /* margin: 60px 0px 26px 56px; */
  margin-left: 10px;
  align-items: center;
  color: #ffffff;
  font-family: var(--Font_Roboto);
}

.section-title {
  font-size: 35px;
  font-weight: 500;
  /* margin: 0; */
  padding-top: 157px;
}

.content-container {
  display: flex;
  padding-top: 48px;
  gap: 5px;
  overflow-x:auto;
 
  cursor: grab;
}

.content-container.active {
  cursor: grabbing;
}
.content-card {
  overflow: hidden;
  width: 404px;
  height: 636px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-image:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.content-card:hover .content-image {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.content-card:hover .content-info {
  transform: translateY(-20%);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.direction-icon {
  margin-top: 157px;
  margin-left: 20px;
  width: 12px;
  height: 12px;
  border-right: 3.5px solid #ffffff;
  border-top: 3.5px solid #ffffff;
  transform: rotate(45deg);
}

.content-image {
  opacity: 0.8;
  height: 636px;
  width: 404px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-info {
  padding: 24px;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.content-category {
  display: inline-block;
  background: #1d1d1d80;
  padding: 4px 8px;
  border-radius: 0px 8px 0px 8px;
  color: var(--Link-hover-color);
  font-size: 14px;
  font-weight: 500;
}

.content-title {
  font-family: var(--Font_Roboto);
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}


.star {
  font-size: 20px;
  margin-right: 2px;
  display: inline-block;
  color: #ccc; /* Boş yıldız */
  position: relative;
}

.star::before {
  content: "★"; /* Boş yıldız */
}

.star.filled {
  color: gold; /* Dolu yıldız */
}

.star.half {
  background: linear-gradient(90deg, gold 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty-message {
  font-size: 1.2rem;
  color: #bcbcbc;
  text-align: center;
  margin: 0 auto;
  
}
