@import url("/Global/global.css");
@import url("../Responsive/Client/register-responsive.css");

.client-login {
    display: flex;
  }
  
  
  .main-logo {
    width: 56px;
    height: 56px;
  }
  
  
 
  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 56px;
    margin-left: 20px;
    margin-top: 8px;
    padding-top: 40px;
    backdrop-filter: blur(24px);
    box-shadow: 0px 40px 40px 8px #00000029;
    gap: 64px;
   
  
  }
  
  .logo_links {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 12px;
  }
  
  .logos {
      filter: brightness(1.8); 
      scroll-behavior: smooth;
  }
  
 
  
  .right-part{
   
    margin: 0 auto;
    margin-top: 93px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 140px;
  }
  
  h1{
    margin-top: 23px;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    font-family: var(--Font_Numans);
    color: var(--Filmalisa-text-color);
  }
  
  h2{
    font-family: var(--Font_Poppins);
    color: var(--Filmalisa-text-color);
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: center;
    
    
  
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    align-items: center;
  
    background-color: var(--Admin-sidebar-color);
  
    border: 1px solid var(--Border-color_1);
    border-radius: 12px;
  
    width: 547px;
    margin-bottom: 16px;
  }
  .form-group img {
    margin: 20px 16px;
  }
  
  .form-group input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: var(--Input-text-color);
    font-size: 16px;
    font-family: var(--Font_Poppins);
  }
  
  .register-btn {
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 12px;
    opacity: 0px;
    background: var(--Btn-color);
    border: 2px solid var(--SideBar-color);
    font-family: var(--Font_Poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    margin-top: 24px;
  }
  
  .form-group:hover {
    border-color: var(--Btn-color);
    transition: border-color 0.5s;
  }
  
  .register-btn:hover {
    background: var(--Cards-bg-color);
    border-color: var(--Cards-bg-color);
    color: var(--Text-color_1);
    transition: 0.5s;
  }
  
  nav{
    display: flex;
    justify-content: flex-start;
    
  }
  a{
    color: var(--Link-color);
  }

