:root {
  /* fonts; */
  --Font_Numans: "Numans", sans-serif;
  --Font_Poppins: "Poppins", sans-serif;
  --Font_Raleway: "Raleway", sans-serif;
  --Font_Inter: "Inter", sans-serif;
  --Font_Nunito_Sans: "Nunito Sans", sans-serif;
  --Font_Roboto: "Roboto", sans-serif;
  --Font_Rubik: "Rubik", sans-serif;
  --Font_Netflix_Sans: "Netflix Sans", sans-serif;
}


